<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.escass.advancedbbs.mappers.ArticleMapper">
    <insert id="insertArticle"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.escass.advancedbbs.entities.ArticleEntity">
        INSERT INTO `advanced_bbs`.`articles`(`board_id`, `nickname`, `password`, `title`, `content`, `view`,
                                              `created_at`, `updated_at`, `deleted_at`)
        VALUES (#{boardId}, #{nickname}, #{password}, #{title}, #{content}, #{view}, #{createdAt}, #{updatedAt},
                #{deletedAt})
    </insert>

    <select id="selectArticleByIndex"
            resultType="com.escass.advancedbbs.entities.ArticleEntity">
        SELECT `index`      AS `index`,
               `board_id`   AS `boardId`,
               `nickname`   AS `nickname`,
               `password`   AS `password`,
               `title`      AS `title`,
               `content`    AS `content`,
               `view`       AS `view`,
               `created_at` AS `createdAt`,
               `updated_at` AS `updatedAt`,
               `deleted_at` AS `deletedAt`
        FROM `advanced_bbs`.`articles`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <update id="updateArticle"
            parameterType="com.escass.advancedbbs.entities.ArticleEntity">
        UPDATE `advanced_bbs`.`articles`
        SET `board_id`   = #{boardId},
            `nickname`   = #{nickname},
            `password`   = #{password},
            `title`      = #{title},
            `content`    = #{content},
            `view`       = #{view},
            `created_at` = #{createdAt},
            `updated_at` = #{updatedAt},
            `deleted_at` = #{deletedAt}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

    <select id="selectArticleByBoardId"
            resultType="com.escass.advancedbbs.vos.ArticleVo">
        SELECT `index`                                                AS `index`,
               `board_id`                                             AS `boardId`,
               `nickname`                                             AS `nickname`,
               `password`                                             AS `password`,
               `title`                                                AS `title`,
               `content`                                              AS `content`,
               `view`                                                 AS `view`,
               `created_at`                                           AS `createdAt`,
               `updated_at`                                           AS `updatedAt`,
               `deleted_at`                                           AS `deletedAt`,
               (SELECT COUNT(0)
                FROM `advanced_bbs`.`comments`
                WHERE `advanced_bbs`.`comments`.`article_index` = `advanced_bbs`.`articles`.`index`
                  AND `advanced_bbs`.`comments`.`deleted_at` IS NULL) AS `commentCount`
        FROM `advanced_bbs`.`articles`
        WHERE `board_id` = #{boardId}
          AND `deleted_at` IS NULL
        ORDER BY `index` DESC
        LIMIT #{limitCount} OFFSET ${offsetCount}
    </select>

    <select id="selectArticleCountByBoardId"
            resultType="_int">
        SELECT COUNT(0)
        FROM `advanced_bbs`.`articles`
        WHERE `board_id` = #{boardId}
          AND `deleted_at` IS NULL
    </select>

    <select id="selectArticleCountBySearch" resultType="_int">
        SELECT COUNT(0)
        FROM `advanced_bbs`.`articles`
        WHERE `board_id` = #{boardId}
        AND `deleted_at` IS NULL
        <if test="filter.equals('all')">
            AND (`title` LIKE CONCAT('%', #{keyword}, '%') OR `content` LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="filter.equals('title')">
            AND `title` LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="filter.equals('nickname')">
            AND `nickname` = #{keyword}
        </if>
    </select>

    <select id="selectArticlesBySearch"
            resultType="com.escass.advancedbbs.vos.ArticleVo">
        SELECT `index` AS `index`,
        `board_id` AS `boardId`,
        `nickname` AS `nickname`,
        `password` AS `password`,
        `title` AS `title`,
        `content` AS `content`,
        `view` AS `view`,
        `created_at` AS `createdAt`,
        `updated_at` AS `updatedAt`,
        `deleted_at` AS `deletedAt`,
        (SELECT COUNT(0)
        FROM `advanced_bbs`.`comments`
        WHERE `advanced_bbs`.`comments`.`article_index` = `advanced_bbs`.`articles`.`index`
        AND `advanced_bbs`.`comments`.`deleted_at` IS NULL) AS `commentCount`
        FROM `advanced_bbs`.`articles`
        WHERE `board_id` = #{boardId}
        AND `deleted_at` IS NULL
        <if test="filter.equals('all')">
            AND (`title` LIKE CONCAT('%', #{keyword}, '%') OR `content` LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="filter.equals('title')">
            AND `title` LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="filter.equals('nickname')">
            AND `nickname` = #{keyword}
        </if>
        ORDER BY `index` DESC
        LIMIT #{limitCount} OFFSET ${offsetCount}
    </select>
</mapper>