<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.escass.advancedbbs.mappers.ArticleMapper">
    <insert id="insertArticle"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.escass.advancedbbs.entities.ArticleEntity">
        INSERT INTO `advanced_bbs`.`articles`(`board_id`, `nickname`, `password`, `title`, `content`, `view`,
                                              `created_at`, `updated_at`, `deleted_at`)
        VALUES (#{boardId}, #{nickname}, #{password}, #{title}, #{content}, #{view}, #{createdAt}, #{updatedAt},
                #{deletedAt})
    </insert>
    <select id="selectArticleByIndex"
            resultType="com.escass.advancedbbs.entities.ArticleEntity">
        SELECT `index`      AS `index`,
               `board_id`   AS `boardId`,
               `nickname`   AS `nickname`,
               `password`   AS `password`,
               `title`      AS `title`,
               `content`    AS `content`,
               `view`       AS `view`,
               `created_at` AS `createdAt`,
               `updated_at` AS `updatedAt`,
               `deleted_at` AS `deletedAt`
        FROM `advanced_bbs`.`articles`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <update id="updateArticle"
            parameterType="com.escass.advancedbbs.entities.ArticleEntity">
        UPDATE `advanced_bbs`.`articles`
        SET `board_id`   = #{boardId},
            `nickname`   = #{nickname},
            `password`   = #{password},
            `title`      = #{title},
            `content`    = #{content},
            `view`       = #{view},
            `created_at` = #{createdAt},
            `updated_at` = #{updatedAt},
            `deleted_at` = #{deletedAt}
        WHERE `index` = #{index}
        LIMIT 1
    </update>
</mapper>