<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${board == null ? '오류' : board.getText()}"></title>
    <script th:if="${board == null}">
        alert('존재하지 않는 게시판입니다. 주소를 다시 확인해 주세요.');
        if (history.length <= 1) {
            // 뒤로 갈 곳이 없는 상황
            window.close(); // 탭 닫기
        } else {
            history.back(); // 뒤로 가기
        }
    </script>
    <link rel="stylesheet" href="/assets/styles/common.css" type="text/css">
    <link rel="stylesheet" href="/board/assets/styles/list.css" type="text/css">
</head>
<body th:if="${board != null}">
<main id="main">
    <h1 class="title" th:text="${board.getText()}"></h1>
    <table class="article-table">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th class="spring" scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">조회수</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>3</td>
            <td>세번째 게시글</td>
            <td>삼삼이</td>
            <td>333</td>
            <td>2024-10-30 13:33</td>
        </tr>
        <tr>
            <td>2</td>
            <td>두번째 게시글</td>
            <td>둘둘이</td>
            <td>2,222</td>
            <td>2024-10-30 12:22</td>
        </tr>
        <tr>
            <td>1</td>
            <td>첫번째 게시글</td>
            <td>일</td>
            <td>1</td>
            <td>2024-10-30 12:11</td>
        </tr>
        </tbody>
    </table>
    <div class="button-container">
        <div class="spring"></div>
        <a class="button write --obj-button -blue" th:href="@{'/article/write' (boardId=${board.getId()})}">글 쓰기</a>
    </div>
</main>
</body>
</html>