<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${board == null ? '오류' : board.getText()}"></title>
    <script th:if="${board == null}">
        alert('존재하지 않는 게시판입니다. 주소를 다시 확인해 주세요.');
        if (history.length <= 1) {
            // 뒤로 갈 곳이 없는 상황
            window.close(); // 탭 닫기
        } else {
            history.back(); // 뒤로 가기
        }
    </script>
    <link rel="stylesheet" href="/assets/styles/common.css" type="text/css">
</head>
<body th:if="${board != null}">
<main id="main">
    <h1 class="title" th:text="${board.getText()}"></h1>

</main>
</body>
</html>