<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${board == null ? '오류' : board.getText()}"></title>
    <script th:if="${board == null}">
        alert('존재하지 않는 게시판입니다. 주소를 다시 확인해 주세요.');
        if (history.length <= 1) {
            // 뒤로 갈 곳이 없는 상황
            window.close(); // 탭 닫기
        } else {
            history.back(); // 뒤로 가기
        }
    </script>
    <link rel="stylesheet" href="/assets/styles/common.css" type="text/css">
    <link rel="stylesheet" href="/board/assets/styles/list.css" type="text/css">
</head>
<body th:if="${board != null}">
<th:block th:replace="~{fragments/common.html :: boardNav}"></th:block>
<main id="main">
    <h1 class="title" th:text="${board.getText()}"></h1>
    <table class="article-table">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th class="spring" scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">조회수</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr class="empty" th:if="${articles == null || articles.length == 0}">
            <td colspan="5">표시할 내용이 없습니다.</td>
        </tr>
        <tr th:each="article : ${articles}">
            <td th:text="${article.getIndex()}"></td>
            <td>
                <a th:text="${article.getTitle()}" th:href="@{'/article/read' (index=${article.getIndex()})}"></a>
                <b>[<span th:text="${article.getCommentCount()}"></span>]</b>
            </td>
            <td th:text="${article.getNickname()}"></td>
            <td th:text="${article.getView()}"></td>
            <td th:text="${#temporals.format(article.getCreatedAt(), 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <div class="move" th:if="${articles != null && articles.length > 0}">
        <a class="page first" th:if="${page.requestPage > page.movableMinPage}"
           th:href="@{'/board/list' (id=${board.getId()}, page=${page.movableMinPage}, filter=${filter}, keyword=${keyword})}">&lt;&lt;</a>
        <a class="page prev" th:if="${page.requestPage > page.movableMinPage}"
           th:href="@{'/board/list' (id=${board.getId()}, page=${page.requestPage - 1}, filter=${filter}, keyword=${keyword})}">&lt;</a>
        <div class="page-container">
            <a class="page"
               th:each="paging : ${#numbers.sequence(page.displayMinPage, page.displayMaxPage)}"
               th:text="${paging}"
               th:href="@{'/board/list' (id=${board.getId()}, page=${paging}, filter=${filter}, keyword=${keyword})}"
               th:classappend="${paging == page.requestPage} ? 'selected'"></a>
        </div>
        <a class="page next" th:if="${page.requestPage < page.movableMaxPage}"
           th:href="@{'/board/list' (id=${board.getId()}, page=${page.requestPage + 1}, filter=${filter}, keyword=${keyword})}">&gt;</a>
        <a class="page last" th:if="${page.requestPage < page.movableMaxPage}"
           th:href="@{'/board/list' (id=${board.getId()}, page=${page.movableMaxPage}, filter=${filter}, keyword=${keyword})}">&gt;&gt;</a>
    </div>
    <div class="button-container">
        <div class="spring"></div>
        <a class="button write --obj-button -blue" th:href="@{'/article/write' (boardId=${board.getId()})}">글 쓰기</a>
    </div>
    <form class="search-form">
        <input name="id" type="hidden" th:value="${board.getId()}">
        <label class="label">
            <select name="filter" class="field">
                <option th:selected="${filter != null && filter.equals('all')}" value="all">제목 + 내용</option>
                <option th:selected="${filter != null && filter.equals('title')}" value="title">제목</option>
                <option th:selected="${filter != null && filter.equals('nickname')}" value="nickname">닉네임</option>
            </select>
        </label>
        <label class="label">
            <input class="field" maxlength="10" minlength="0" name="keyword" type="text" th:value="${keyword}">
        </label>
        <button class="--obj-button -blue" type="submit">검색</button>
    </form>
</main>
</body>
</html>